/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: rgb(156, 144, 144);
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header {
	padding: .5em 0 1em 0;
	border-bottom: 3px solid #931420;
		background-image: -moz-linear-gradient(
	    30deg, #931420 0%, #931420 30%, white 50%, #f6bb73 80%, #000000 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #931420 0%, #931420 30%, white 50%, #f6bb73 80%, #000000 100%);
	background-image: -o-linear-gradient(
	    30deg, #931420 0%, #931420 30%, white 50%, #f6bb73 80%, #000000 100%);
	background-image: linear-gradient(
	    30deg, #931420 0%, #931420 30%, white 50%, #f6bb73 80%, #000000 100%);
